[user]
	email = hungid6a1@gmail.com
	name = HeRo3S
[core]
	editor = nvim
[alias]
    hisf = !git ls-files | fzf | xargs git log -p -M --follow --stat
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    cb = !git branch | fzf | xargs git checkout
    pr = pull --rebase
    pf = push --force-with-lease
    cp = !git branch | fzf | xargs -I {} sh -c 'git log --oneline {} | fzf -m | xargs git cherry-pick -m 1'
