[user]
	email = hungid6a1@gmail.com
	name = HeRo3S
[core]
	editor = nvim
[rerere]
    enabled = true
[alias]
    hisf = !git ls-files | fzf | xargs git log -p -M --follow --stat
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    cb = !git branch | fzf | xargs git checkout
    rb = !git branch | fzf | xargs git branch -D
    pr = pull --rebase
    pf = push --force-with-lease
    cp = !bash -c 'source ~/scripts/git-cherry-pick.sh'
